table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td:nth-child(1) {
    width: 10px;
}
td:nth-child(2) {
    text-align: center;
}
td:nth-child(3){
    width: 15px;
}
td:nth-child(4){
    width: 15px;
}